<ion-view title="Key Company Metrics" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="keyCompanyMetrics-container5" class="fixed">
      <div id="keyCompanyMetrics-container6" class="marketInfo left">
        <div id="keyCompanyMetrics-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Market: </strong> SYMBOL</p>
        </div>
        <div id="keyCompanyMetrics-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Full Name of Symbol</p>
        </div>
        <div id="keyCompanyMetrics-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Current Price: </strong>
          </p>
        </div>
      </div>
      <div id="keyCompanyMetrics-container7" class="marketInfo right">
        <div id="keyCompanyMetrics-markdown13" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <strong>Today's Changes: </strong>
          </p>
        </div>
        <div id="keyCompanyMetrics-markdown14" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Net %:</p>
        </div>
        <div id="keyCompanyMetrics-markdown15" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Net Change:</p>
        </div>
      </div>
    </div>
    <ion-list id="keyCompanyMetrics-list1" class="list">
      <ion-item id="keyCompanyMetrics-list-item4">Item 1</ion-item>
      <ion-item id="keyCompanyMetrics-list-item5">Item 2</ion-item>
      <ion-item id="keyCompanyMetrics-list-item6">Item 3</ion-item>
      <ion-item id="keyCompanyMetrics-list-item16">Item 3</ion-item>
      <ion-item id="keyCompanyMetrics-list-item17">Item 3</ion-item>
      <ion-item id="keyCompanyMetrics-list-item20">Item 3</ion-item>
      <ion-item id="keyCompanyMetrics-list-item19">Item 3</ion-item>
      <ion-item id="keyCompanyMetrics-list-item18">Item 3</ion-item>
    </ion-list>
    <div id="keyCompanyMetrics-button-bar3" class="button-bar">
      <a ui-sref="expandedMarket()" id="keyCompanyMetrics-button16" class="button button-stable button-block">Graph</a>
      <button id="keyCompanyMetrics-button17" class="button button-stable button-block">KCM</button>
    </div>
  </ion-content>
</ion-view>